<div class="flex flex-col gap-4 justify-center align-center items-center">
    <div class="flex flex-col">
        <a href="/create/community" class="text-xs cursor-pointer text-right text-gray-500">Create Community</a>
    </div>
    <div class="flex flex-col w-1/2 bg-geen-300">
        {{ if .community }}
        <div class="text-sm dark:text-white"> You are posting to <b>{{ .community }}</b></div>
        <input type="hidden" name="community" value="{{ .community }}">
        {{ else }}
        <div class="form-control w-full flex flex-col gap-1">
            <input id="search" class="form-control dark:bg-zinc-800 p-2 dark:text-zinc-300" type="search" name="search"
                placeholder="Search Community..." hx-post="/ui/communities/search"
                hx-trigger="input changed delay:500ms, search" hx-target="#search-results"
                hx-indicator=".htmx-indicator">
            <div class="relative">
                <ul id="search-results" class="flex flex-col gap-1 absolute t-0 l-0"></ul>
                <div class="htmx-indicator"></div>
            </div>
        </div>
        {{ end }}
    </div>
    <form id="mainForm-text" class="w-1/2 flex flex-col gap-2" hx-encoding='multipart/form-data'
        hx-post="/ui/posts/form/submit" class="flex flex-col gap-3" hx-trigger="submit" hx-target="#response"
        hx-swap="#mainForm" hx-validate>

        <div id="type">
            <ul
                class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-zinc-200 rounded-lg sm:flex dark:bg-zinc-700 dark:border-zinc-600 dark:text-white">
                <li class="w-full border-b border-zinc-200 sm:border-b-0 sm:border-r dark:border-zinc-600">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-text" checked type="radio" value="text" name="type"
                            class="w-4 h-4 bg-zinc-100 border-zinc-300 focus:ring-blue-500 dark:focus:ring-gray-700 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-zinc-600 dark:border-zinc-500">
                        <label for="horizontal-list-radio-text"
                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Text
                        </label>
                    </div>
                </li>
                <li class="w-full border-b border-zinc-200 sm:border-b-0 sm:border-r dark:border-zinc-600">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-img-vdo" type="radio" value="img-vdo" name="type"
                            class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-300 focus:ring-blue-500 dark:focus:ring-gray-700 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-zinc-600 dark:border-zinc-500">
                        <label for="horizontal-list-radio-img-vdo"
                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Image/Video
                        </label>
                    </div>
                </li>
                <li class="w-full border-b border-zinc-200 sm:border-b-0 sm:border-r dark:border-zinc-600">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-link" type="radio" value="link" name="type"
                            class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-300 focus:ring-blue-500 dark:focus:ring-gray-700 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-zinc-600 dark:border-zinc-500">
                        <label for="horizontal-list-radio-link"
                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Link
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div id="title" class="form-control w-full flex flex-col gap-1">
            <input type="text" name="title" hx-trigger="validate()" placeholder="Title"
                class="p-2 border border-1  rounded-lg  dark:bg-zinc-800 dark:border-zinc-700 dark:text-gray-200 "
                required>
        </div>
        <div id="content" class="form-control w-full flex flex-col gap-1">
            <textarea type="text" name="content" placeholder="something funny"
                class="p-2 border border-1 dark:bg-zinc-800 dark:border-zinc-700 dark:text-gray-200  rounded-lg "
                required></textarea>

        </div>
        <div id="link" class="form-control w-full flex flex-col gap-1">
            <input type="url" name="link" placeholder="https://look-at-this.com/funny/cat.jpg"
                class="p-2 border border-1  rounded-lg dark:bg-zinc-800 dark:border-zinc-700 dark:text-gray-200 "
                required>
        </div>
        <div id="tags" class="form-control w-full flex flex-col">
            <input type="text"
                class="p-2 border border-1 dark:bg-zinc-800 dark:border-zinc-700 dark:text-gray-200  rounded-lg "
                name="tags" placeholder="funny,cats" required>
        </div>
        <div id="files" class="form-control w-full flex flex-col">
            <div class="flex items-center justify-center w-full">
                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-zinc-700 border-dashed rounded-lg cursor-pointer">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" name="files" class="hidden" multiple type="file" />
                </label>
            </div>
        </div>
        <button id="submit" type="submit"
            class="p-2 border hover:bg-orange-500 hover:bg-orange-300 text-white border-1 dark:border-zinc-700 dark:hover-border-red-400  cursor-pointer rounded-lg ">Post</button>
    </form>
    <div id="response" class="flex flex-col gap-2"></div>
</div>
