<div id="toolbar" class="flex flex-row justify-between">
    <!--<div class=" flex flex-row text-sm gap-1 ">-->
    <!--    {{ if .session_user }}-->
    <!--    <a class="tool flex flex-row gap-1  font-bold justify-start align-middle items-center" href="/create">-->
    <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"-->
    <!--            stroke="currentColor" class="size-6">-->
    <!--            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />-->
    <!--        </svg>-->
    <!--        Submit-->
    <!--    </a>-->
    <!--    {{else}}-->
    <!--    <a class="tool flex flex-row gap-1  font-bold justify-start align-middle items-center" href="/auth/login">-->
    <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"-->
    <!--            stroke="currentColor" class="size-6">-->
    <!--            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />-->
    <!--        </svg>-->
    <!--        Login-->
    <!--    </a>-->
    <!--    {{end}}-->
    <!--    <div class="flex flex-row justify-center items-center align-middle">-->
    <!--        <input id="search-input" hidden type="text"-->
    <!--            class=" bg-slate-950 border border-1 rounded-xl p-1 pl-2 pr-2 w-0" placeholder="Search posts">-->
    <!--        <button id="search-button" type="button"-->
    <!--            class="tool flex flex-row gap-1  font-bold justify-start align-middle items-center">-->
    <!--            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"-->
    <!--                stroke="currentColor" class="size-6">-->
    <!--                <path stroke-linecap="round" stroke-linejoin="round"-->
    <!--                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />-->
    <!--            </svg>-->
    <!--            Search-->
    <!--        </button>-->
    <!--    </div>-->
    <!--</div>-->
</div>
