<!doctype html>
<html lang="en-us">

<head>
    <title>{{ .Username }}</title>
    {{ template "block-header.html" .}}
</head>

<body class="w-screen min-h-screen h-full dark:bg-zinc-800">
    {{ template "block-nav.html" .}}
    <main>
        <section class="p-10 mt-20 flex flex-col justify-center items-center align-middle">
            <div class="flex">
                <div class="flex flex-col gap-4">
                    <div id="user" class="flex flex-col gap-3">
                        {{ template "single-user.html" .}}
                    </div>
                </div>
            </div>
        </section>
        <section class="p-10 pt-0 flex justify-center">
            <div class="flex flex-row">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-3">
                        {{ range .posts }}
                        {{ template "single-post.html" .}}
                        {{end}}
                    </div>
                    <div class="flex flex-row justify-center align-middle items-center">
                        <div class="text-sm">
                            <button class="text-md" hx-get="/ui/posts/all?page={{ .nextPage }}&sort_by={{.sortBy}}"
                                hx-target="#posts" hx-swap="innerHTML">next page</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{ template "block-footer.html" .}}
</body>

</html>
