<!doctype html>
<html lang="en-us">

<head>
    <title>ditto</title>
    {{ template "block-header.html" .}}
</head>

<body class="w-screen min-h-screen h-full bg-red-400 dark:bg-zinc-800">
    {{ template "block-nav.html" .}}
    <section class="p-10 mt-20 flex flex-col gap-1 justify-center align-middle items-center">
        <div class="flex flex-col justify-center align-middle items-center">
            <h3 class="text-zinc-500 text-6xl font-bold">404</h3>
            <p class="text-zinc-500 text-lg">{{ .message }}</p>
        </div>
    </section>
    {{ template "block-footer.html" .}}
    <style>

    </style>
</body>

</html>
