<!doctype html>
<html lang="en-us">

<head>
    <title>ditto</title>
    {{ template "block-header.html" .}}
</head>

<body class="w-screen min-h-screen h-full dark:bg-zinc-800">
    {{ template "block-nav.html" .}}
    <main class="p-10 flex flex-col justify-center items-center align-middle mt-10">
        <section>
            <div class="flex flex-col gap-4 max-w-xl" hx-swap="innerHTML">
                {{ template "block-toolbar.html" .}}
                {{ template "single-community.html" .}}
            </div>
        </section>
    </main>
    {{ template "block-footer.html" .}}
</body>

</html>
